@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --white-2: #C9C9C9; 
  --green: #00A933;

  --text-green-gradient: linear-gradient(100deg, #00A933 27.58%, #004314 78.16%);
  --bg-gradient: linear-gradient(168deg, #242424 0%, #090909 76.5%);
}

html {
  background: var(--bg-gradient);
  color: var(--white-2);
}

h1, h2, h3 {
  color: var(--white);
}